html,
body {
  height: 100%;
  font-family: "宋体";
}
body {
  transform-style: preserve-3d;
}
.stage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7889cb;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  perspective: 1500px;
  z-index: 0;
}
.stage .w {
  width: 30%;
  max-width: 360px;
}
.stage .w .card {
  text-align: center;
  color: #ffffff;
  background: url(600x600.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 480px;
  padding-bottom: 140%;
  width: 100%;
  position: relative;
  border-radius: 15px;
  transform-origin: 50% 50% 100px;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  transform: translateZ(200px);
  z-index: 2;
}
.stage .w .card .mask {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: inherit;
}
.stage .w .card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: inherit;
  background: rgba(42, 33, 22, 0.397);
  z-index: -1;
}
.stage .w .card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: inherit;
  background: rgba(0, 0, 0, 0.842);
  transform: translateZ(-15px);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.733);
}
.stage .w .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.stage .w .card .content h1 {
  font-size: 36px;
  transition: all 1s;
}
.stage .w .card .content h3 {
  line-height: 4em;
  transition: all 1s;
}
.stage .w .card .content .chart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stage .w .card .content .chart li {
  width: 20px;
  height: 20px;
  background-color: transparent;
  transform: rotateZ(-60deg);
  margin: 0 10px;
  transform-style: preserve-3d;
  position: relative;
  transition: all 1s;
}
.stage .w .card .content .chart li::before {
  content: "20000";
  background-image: linear-gradient(to right, #e1e1e1, #fff);
  color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transform-origin: right bottom;
  transition: all 1s;
}
.stage .w .card .content .chart li::after {
  content: "";
  background-image: linear-gradient(to right, #e1e1e1, #fff);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transform-origin: left bottom;
  transition: all 1s;
}
.stage .w .card .content .chart li span {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  transition: all 1s;
}
.stage .w .card .content .chart li i {
  display: block;
  background-image: linear-gradient(to right, #e1e1e1, #fff);
  transition: all 1s;
  transform-origin: left bottom;
}
.stage .w .card .content p {
  font-size: 36px;
  line-height: 108px;
  transform: translateZ(10px);
}
.stage.active .card {
  transform: translateZ(200px) rotateX(60deg);
}
.stage.active .card .content h1,
.stage.active .card .content h3 {
  opacity: 0;
}
.stage.active .card .content .chart li:nth-of-type(1)::before {
  width: 100px;
  transform: rotateY(90deg) translateZ(-100px) rotateX(180deg) rotateZ(180deg) translateX(100px);
  color: #333;
}
.stage.active .card .content .chart li:nth-of-type(1)::after {
  width: 100px;
  transform: rotateX(-90deg) rotateZ(-90deg) translateY(20px);
}
.stage.active .card .content .chart li:nth-of-type(1) span {
  transform: translateZ(100px);
  color: #333;
}
.stage.active .card .content .chart li:nth-of-type(1) i {
  height: 100%;
}
.stage.active .card .content .chart li:nth-of-type(1) i:nth-of-type(1) {
  width: 100px;
  transform: rotateX(90deg) translateX(0px) rotateZ(90deg) translateY(0px) translateZ(40px);
}
.stage.active .card .content .chart li:nth-of-type(1) i:nth-of-type(2) {
  width: 100px;
  transform: rotateX(180deg) translateX(20px) rotateZ(0deg) translateY(60px) translateZ(0px) rotateY(90deg);
}
.stage.active .card .content .chart li:nth-of-type(2)::before {
  width: 50px;
  transform: rotateY(90deg) translateZ(-50px) rotateX(180deg) rotateZ(180deg) translateX(50px);
  color: #333;
}
.stage.active .card .content .chart li:nth-of-type(2)::after {
  width: 50px;
  transform: rotateX(-90deg) rotateZ(-90deg) translateY(20px);
}
.stage.active .card .content .chart li:nth-of-type(2) span {
  transform: translateZ(50px);
  color: #333;
}
.stage.active .card .content .chart li:nth-of-type(2) i {
  height: 100%;
}
.stage.active .card .content .chart li:nth-of-type(2) i:nth-of-type(1) {
  width: 50px;
  transform: rotateX(90deg) translateX(0px) rotateZ(90deg) translateY(0px) translateZ(40px);
}
.stage.active .card .content .chart li:nth-of-type(2) i:nth-of-type(2) {
  width: 50px;
  transform: rotateX(180deg) translateX(20px) rotateZ(0deg) translateY(60px) translateZ(0px) rotateY(90deg);
}
.stage.active .card .content .chart li:nth-of-type(3)::before {
  width: 80px;
  transform: rotateY(90deg) translateZ(-80px) rotateX(180deg) rotateZ(180deg) translateX(80px);
  color: #333;
}
.stage.active .card .content .chart li:nth-of-type(3)::after {
  width: 80px;
  transform: rotateX(-90deg) rotateZ(-90deg) translateY(20px);
}
.stage.active .card .content .chart li:nth-of-type(3) span {
  transform: translateZ(80px);
  color: #333;
}
.stage.active .card .content .chart li:nth-of-type(3) i {
  height: 100%;
}
.stage.active .card .content .chart li:nth-of-type(3) i:nth-of-type(1) {
  width: 80px;
  transform: rotateX(90deg) translateX(0px) rotateZ(90deg) translateY(0px) translateZ(40px);
}
.stage.active .card .content .chart li:nth-of-type(3) i:nth-of-type(2) {
  width: 80px;
  transform: rotateX(180deg) translateX(20px) rotateZ(0deg) translateY(60px) translateZ(0px) rotateY(90deg);
}
/*# sourceMappingURL=./3Dchart.css.map */