a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
  outline-offset: 0;
}
a {
  text-decoration: none;
  outline: none;
  outline-offset: 0;
  color: #666;
  background-color: #e1e1e1;
  padding: 16px;
  margin: 6px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s;
}
.w-hoverBtn {
  width: 800px;
  margin: 0 auto;
}
.w-hoverBtn .w-grow {
  transform: perspective(1px) translateZ(0);
  transition: transform 0.3s;
}
.w-hoverBtn .w-grow:hover {
  transform: scale(1.1);
}
.w-hoverBtn .w-shrink {
  transform: perspective(1px) translateZ(0);
  transition: transform 0.3s;
}
.w-hoverBtn .w-shrink:hover {
  transform: scale(0.9);
}
.w-hoverBtn .w-rotate {
  transition: all 0.3s;
}
.w-hoverBtn .w-rotate:hover {
  transform: rotate(5deg);
}
.w-hoverBtn .w-growrotate:hover {
  transform: rotate(5deg) scale(1.1);
}
.w-hoverBtn .w-float:hover {
  transform: translateY(-10px);
}
.w-hoverBtn .w-sink:hover {
  transform: translateY(10px);
}
.w-hoverBtn .w-skew:hover {
  transform: skewX(-10deg);
}
.w-hoverBtn .w-skewforward {
  transform-origin: 0 100% 0;
}
.w-hoverBtn .w-skewforward:hover {
  transform: skewX(-10deg);
}
.w-hoverBtn .w-skewbackward {
  transform-origin: 0 100% 0;
}
.w-hoverBtn .w-skewbackward:hover {
  transform: skewX(10deg);
}
.w-hoverBtn .w-forward:hover {
  transform: translateX(10px);
}
.w-hoverBtn .w-backward:hover {
  transform: translateX(-10px);
}
@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.w-hoverBtn .w-pulse:hover {
  animation: pulse 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes push {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.w-hoverBtn .w-push:hover {
  animation: push 0.5s;
  animation-timing-function: ease-out;
}
@keyframes bob {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(2px);
  }
}
.w-hoverBtn .w-bob:hover {
  animation: bob 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.w-hoverBtn .w-bouncein {
  transition: all 0.8s;
}
@keyframes bouncein {
  0% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
.w-hoverBtn .w-bouncein:hover {
  animation: bouncein 0.8s;
  transform: scale(1.2);
  animation-timing-function: linear;
}
.w-hoverBtn .w-wobblevertical {
  transition: all 0.8s;
}
@keyframes wobblevertical {
  0% {
    transform: translateY(8px);
  }
  40% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
.w-hoverBtn .w-wobblevertical:hover {
  animation: wobblevertical 0.8s;
  animation-timing-function: linear;
}
.w-hoverBtn .w-wobbletop {
  transition: all 0.8s;
  transform-origin: 0 100%;
}
@keyframes w-wobbletop {
  0% {
    transform: skew(12deg);
  }
  40% {
    transform: skew(-8deg);
  }
  60% {
    transform: skew(6deg);
  }
  80% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(0);
  }
}
.w-hoverBtn .w-wobbletop:hover {
  animation: w-wobbletop 0.8s;
  animation-timing-function: linear;
}
.w-hoverBtn .w-buzz {
  transition: all 0.8s;
}
@keyframes w-buzz {
  0% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  60% {
    transform: translateX(3px) rotate(2deg);
  }
  80% {
    transform: translateX(-3px) rotate(-2deg);
  }
  100% {
    transform: translateX(3px) rotate(2deg);
  }
}
.w-hoverBtn .w-buzz:hover {
  animation: w-buzz 0.3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.w-hoverBtn .w-fade:hover {
  background-color: #2098d1;
  color: #fff;
}
.w-hoverBtn .w-sweeptoright {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-sweeptoright::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition: all 0.3s;
  z-index: -1;
}
.w-hoverBtn .w-sweeptoright:hover {
  color: #fff;
}
.w-hoverBtn .w-sweeptoright:hover::before {
  transform: scaleX(1);
}
.w-hoverBtn .w-sweeptoleft {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-sweeptoleft::after {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: all 0.3s;
  z-index: -1;
}
.w-hoverBtn .w-sweeptoleft:hover {
  color: #fff;
}
.w-hoverBtn .w-sweeptoleft:hover::after {
  transform: scaleX(1);
}
.w-hoverBtn .w-sweeptobottom {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-sweeptobottom::after {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform-origin: 100% 0;
  transform: scaleY(0);
  transition: all 0.3s;
  z-index: -1;
}
.w-hoverBtn .w-sweeptobottom:hover {
  color: #fff;
}
.w-hoverBtn .w-sweeptobottom:hover::after {
  transform: scaleY(1);
}
.w-hoverBtn .w-sweeptotop {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-sweeptotop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 0 100%;
  background-color: #2098d1;
  z-index: -1;
  transform: scaleY(0);
  transition: all 0.3s;
}
.w-hoverBtn .w-sweeptotop:hover::before {
  transform: scaleY(1);
}
.w-hoverBtn .w-sweeptotop:hover {
  color: #fff;
}
.w-hoverBtn .w-bouncetoright {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-bouncetoright::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}
.w-hoverBtn .w-bouncetoright:hover {
  color: #fff;
}
.w-hoverBtn .w-bouncetoright:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.w-hoverBtn .w-bouncetoleft {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-bouncetoleft::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}
.w-hoverBtn .w-bouncetoleft:hover {
  color: #fff;
}
.w-hoverBtn .w-bouncetoleft:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.w-hoverBtn .w-bouncetoright {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-bouncetoright::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}
.w-hoverBtn .w-bouncetoright:hover {
  color: #fff;
}
.w-hoverBtn .w-bouncetoright:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.w-hoverBtn .w-bouncetobottom {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-bouncetobottom::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 100% 0;
  transform: scaleY(0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}
.w-hoverBtn .w-bouncetobottom:hover {
  color: #fff;
}
.w-hoverBtn .w-bouncetobottom:hover::before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.w-hoverBtn .w-bouncetotop {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-bouncetotop::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 0 100%;
  transform: scaleY(0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}
.w-hoverBtn .w-bouncetotop:hover {
  color: #fff;
}
.w-hoverBtn .w-bouncetotop:hover::before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.w-hoverBtn .w-radialout {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.w-hoverBtn .w-radialout::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  z-index: -1;
  transform: scale(0);
  transition: all 0.5s;
}
.w-hoverBtn .w-radialout:hover::before {
  transform: scale(2);
  border-radius: 0;
}
.w-hoverBtn .w-radialout:hover {
  color: #fff;
}
.w-hoverBtn .w-radialin {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.w-hoverBtn .w-radialin::before {
  content: "";
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  z-index: -1;
  transform: scale(2);
  transition: all 0.5s;
}
.w-hoverBtn .w-radialin:hover::before {
  transform: scale(0);
  border-radius: 100%;
}
.w-hoverBtn .w-radialin:hover {
  color: #fff;
  background-color: #2098d1;
}
.w-hoverBtn .w-rectanglein {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.w-hoverBtn .w-rectanglein::before {
  content: "";
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  z-index: -1;
  transform: scale(2);
  transition: all 0.5s;
}
.w-hoverBtn .w-rectanglein:hover::before {
  transform: scale(0);
  border-radius: 0;
}
.w-hoverBtn .w-rectanglein:hover {
  color: #fff;
  background-color: #2098d1;
}
.w-hoverBtn .w-rectangleout {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.w-hoverBtn .w-rectangleout::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  z-index: -1;
  transform: scale(0);
  transition: all 0.5s;
}
.w-hoverBtn .w-rectangleout:hover::before {
  transform: scale(2);
  border-radius: 0;
}
.w-hoverBtn .w-rectangleout:hover {
  color: #fff;
}
.w-hoverBtn .w-shutterinhorizontal {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-shutterinhorizontal::before,
.w-hoverBtn .w-shutterinhorizontal::after {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.5, 0.34, 0.9);
}
.w-hoverBtn .w-shutterinhorizontal::after {
  transform-origin: 0 100%;
}
.w-hoverBtn .w-shutterinhorizontal:hover::before {
  transform: scaleX(1);
}
.w-hoverBtn .w-shutterinhorizontal:hover::after {
  transform: scaleX(1);
}
.w-hoverBtn .w-shutterinhorizontal:hover {
  color: #fff;
}
.w-hoverBtn .w-shutterouthorizontal {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-shutterouthorizontal::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.5, 0.34, 0.9);
}
.w-hoverBtn .w-shutterouthorizontal:hover::before {
  transform: scaleX(1);
}
.w-hoverBtn .w-shutterouthorizontal:hover {
  color: #fff;
}
.w-hoverBtn .w-shutterinvertical {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-shutterinvertical::after,
.w-hoverBtn .w-shutterinvertical::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform-origin: 100% 0;
  transform: scaleY(0);
  transition: all 0.5s;
  z-index: -1;
  transition-timing-function: cubic-bezier(0.5, 0.5, 0.34, 0.9);
}
.w-hoverBtn .w-shutterinvertical::before {
  transform-origin: 0 100%;
}
.w-hoverBtn .w-shutterinvertical:hover {
  color: #fff;
}
.w-hoverBtn .w-shutterinvertical:hover::after,
.w-hoverBtn .w-shutterinvertical:hover::before {
  transform: scaleY(1);
}
.w-hoverBtn .w-shutteroutvertical {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-shutteroutvertical::before {
  content: "";
  background-color: #2098d1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleY(0);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.5, 0.34, 0.9);
}
.w-hoverBtn .w-shutteroutvertical:hover::before {
  transform: scaleY(1);
}
.w-hoverBtn .w-shutteroutvertical:hover {
  color: #fff;
}
.w-hoverBtn .w-iconback {
  transition: transform 0.3s;
  transition-timing-function: ease-out;
}
.w-hoverBtn .w-iconback:hover i {
  transition: all 0.3s;
  transition-timing-function: ease-out;
  transform: translateX(-4px);
}
.w-hoverBtn .w-iconforward:hover i {
  transition: transform 0.3s;
  transition-timing-function: ease-out;
  transform: translateX(4px);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.w-hoverBtn .w-iconspin:hover i {
  animation: spin 1s;
}
.w-hoverBtn .w-iconfade:hover i {
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  color: #0f9e5e;
}
.w-hoverBtn .w-icongrow:hover i {
  transition: all 0.3s;
  transition-timing-function: ease-out;
  transform: scale(1.3);
}
.w-hoverBtn .w-iconshrink:hover i {
  transition: all 0.3s;
  transition-timing-function: ease-out;
  transform: scale(0.8);
}
.w-hoverBtn .w-iconbounce {
  transition-timing-function: ease-out;
}
.w-hoverBtn .w-iconbounce:hover i {
  transition: all 0.3s;
  transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.1);
}
.w-hoverBtn .w-iconrotate:hover i {
  transition: all 0.3s;
  transition-timing-function: ease-out;
  transform: rotate(18deg);
}
.w-hoverBtn .w-icongrowrotate:hover i {
  transition: all 0.3s;
  transition-timing-function: ease-out;
  transform: rotate(18deg) scale(1.5);
}
.w-hoverBtn .w-iconfloat:hover i {
  transition: all 0.3s;
  transition-timing-function: ease-out;
  transform: translateY(-5px);
}
.w-hoverBtn .w-iconsink:hover i {
  transition: all 0.3s;
  transition-timing-function: ease-out;
  transform: translateY(5px);
}
.w-hoverBtn .w-iconfloataway:hover i {
  transition: all 0.3s;
  transition-timing-function: ease-out;
  transform: translateY(-5px);
  opacity: 0;
}
@keyframes iconpulse {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
.w-hoverBtn .w-iconpulse:hover i {
  animation: iconpulse 0.5s infinite alternate linear;
}
@keyframes iconpush {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.w-hoverBtn .w-iconpush:hover i {
  animation: iconpush 0.3s linear;
}
@keyframes iconbuzz {
  0% {
    transform: translateX(-3px) rotate(-2deg);
  }
  100% {
    transform: translateX(3px) rotate(2deg);
  }
}
.w-hoverBtn .w-iconbuzz:hover i {
  animation: iconbuzz 0.08s linear alternate infinite;
}
.w-hoverBtn .w-borderfade {
  border: 4px solid transparent;
}
.w-hoverBtn .w-borderfade:hover {
  border: 4px solid #2098d1;
}
.w-hoverBtn .w-borderhollow {
  border: 4px solid transparent;
}
.w-hoverBtn .w-borderhollow:hover {
  border: 4px solid #e1e1e1;
  background-color: #fff;
}
.w-hoverBtn .w-trim {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-trim::before {
  content: "";
  border: 4px solid #fff;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
.w-hoverBtn .w-trim:hover::before {
  opacity: 1;
}
.w-hoverBtn .w-roundcorners:hover {
  border-radius: 15px;
}
.w-hoverBtn .w-underlinefromleft {
  position: relative;
}
.w-hoverBtn .w-underlinefromleft::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 4px solid #2098d1;
  transform-origin: 0 100%;
  transform: scaleX(0);
  transition: all 0.3s;
}
.w-hoverBtn .w-underlinefromleft:hover::before {
  transform: scaleX(1);
}
.w-hoverBtn .w-underlinefromright {
  position: relative;
}
.w-hoverBtn .w-underlinefromright::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 4px solid #2098d1;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: all 0.3s;
}
.w-hoverBtn .w-underlinefromright:hover::before {
  transform: scaleX(1);
}
.w-hoverBtn .w-underlinefromcenter {
  position: relative;
}
.w-hoverBtn .w-underlinefromcenter::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 4px solid #2098d1;
  transform: scaleX(0);
  transition: all 0.3s;
}
.w-hoverBtn .w-underlinefromcenter:hover::before {
  transform: scaleX(1);
}
.w-hoverBtn .w-underlinefromreveal {
  position: relative;
}
.w-hoverBtn .w-underlinefromreveal::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 4px solid #2098d1;
  transform-origin: 0 100%;
  transform: scaleY(0);
  transition: all 0.3s;
}
.w-hoverBtn .w-underlinefromreveal:hover::before {
  transform: scaleY(1);
}
.w-hoverBtn .w-reveal {
  position: relative;
}
.w-hoverBtn .w-reveal::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border: 4px solid #2098d1;
  transform: scale(0);
  transition: all 0.3s;
}
.w-hoverBtn .w-reveal:hover::before {
  transform: scale(1);
}
.w-hoverBtn .w-rippleout {
  position: relative;
}
.w-hoverBtn .w-rippleout::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border: 6px solid #e1e1e1;
  transform: scale(1);
  transition: all 0.8s;
}
@keyframes rippleout {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
.w-hoverBtn .w-rippleout:hover::before {
  animation: rippleout linear 0.8s;
}
.w-hoverBtn .w-shadow:hover {
  transition: all 0.3s;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.w-hoverBtn .w-growshadow:hover {
  transition: all 0.3s;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.w-hoverBtn .w-floatshadow:hover {
  transition: all 0.3s;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.w-hoverBtn .w-glow:hover {
  transition: all 0.3s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.w-hoverBtn .w-bubbletop {
  position: relative;
  z-index: 0;
}
.w-hoverBtn .w-bubbletop::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border: solid;
  border-width: 10px;
  border-top-width: 0;
  border-color: #e1e1e1;
  border-right-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  transition: all 0.3s;
  z-index: -1;
}
.w-hoverBtn .w-bubbletop:hover::before {
  transform: translateY(-10px) translateX(-50%);
}
.w-hoverBtn .w-curltopleft {
  position: relative;
}
.w-hoverBtn .w-curltopleft::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  border: solid;
  border-width: 10px;
  border-top-color: #fff;
  border-left-color: #fff;
  transform: scale(0);
  transition: all 0.3s;
}
.w-hoverBtn .w-curltopleft:hover::before {
  top: 0px;
  left: 0px;
  transform: scale(1);
}
.w-hoverBtn .w-ghostbtn1 {
  background: #222 url(img/overlay-button.png) repeat-x 0 0;
  display: inline-block;
  background-color: #2daebf;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  border-radius: 5px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  animation: bluepulse 2.5s infinite;
  padding: 8px 19px 9px;
}
@keyframes bluepulse {
  0% {
    background-color: #007d9a;
  }
  50% {
    background-color: #2daebf;
  }
  100% {
    background-color: #007d9a;
  }
}
.w-hoverBtn .w-ghostbtn3 {
  display: inline-block;
  width: 180px;
  height: 50px;
  border: 2px solid #2098d1;
  line-height: 50px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #2098d1;
  background: url(img/allow.png) no-repeat 130px center;
  transition: all 0.4s ease;
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
}
.w-hoverBtn .w-ghostbtn3:hover {
  border: 2px solid #2098d1;
  background-position: 140px center;
}
.w-hoverBtn .w-ghostbtn3:hover .line {
  background-color: #2098d1;
}
.w-hoverBtn .w-ghostbtn3:hover .line-top {
  width: 100%;
  left: -2px;
}
.w-hoverBtn .w-ghostbtn3:hover .line-right {
  height: 100%;
  top: -2px;
}
.w-hoverBtn .w-ghostbtn3:hover .line-bottom {
  height: 100%;
  bottom: -2px;
}
.w-hoverBtn .w-ghostbtn3:hover .line-left {
  width: 100%;
  right: -2px;
}
.w-hoverBtn .w-ghostbtn3 .line {
  position: absolute;
  background: 0 0;
  transition: all 0.4s ease;
  background-color: #fff;
}
.w-hoverBtn .w-ghostbtn3 .line-top {
  width: 0;
  height: 2px;
  left: -110%;
  top: -2px;
}
.w-hoverBtn .w-ghostbtn3 .line-right {
  width: 2px;
  height: 0;
  right: -2px;
  top: -110%;
}
.w-hoverBtn .w-ghostbtn3 .line-bottom {
  width: 2px;
  height: 0;
  left: -2px;
  bottom: -110%;
}
.w-hoverBtn .w-ghostbtn3 .line-left {
  width: 0;
  height: 2px;
  right: -110%;
  bottom: -2px;
}
.w-hoverBtn .w-ghostbtn4 {
  display: inline-block;
  background: #f8b627;
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 22px;
  width: 132px;
  color: #fff;
  text-align: center;
}
.w-hoverBtn .w-ghostbtn4 i {
  width: 100px;
  height: 100px;
  background: #42b44e;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  transform: scale(0);
  transition: transform 0.8s, opacity 0.8s;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
}
.w-hoverBtn .w-ghostbtn4:hover i {
  transform: scale(5);
  opacity: 1;
}
.w-hoverBtn .progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 266px;
  height: 70px;
  cursor: pointer;
}
.w-hoverBtn button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 250px;
  height: 70px;
  border: 2px solid #1ecd97;
  border-radius: 40px;
  background: transparent;
  color: #1ecd97;
  letter-spacing: 1px;
  font-size: 18px;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}
.w-hoverBtn button:hover {
  background-color: #1ecd97;
  color: #fff;
}
.w-hoverBtn svg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.w-hoverBtn svg path {
  opacity: 0;
  fill: none;
}
.w-hoverBtn svg.progress-circle path {
  stroke: #1ecd97;
  stroke-width: 5;
}
.w-hoverBtn svg.checkmark path,
.w-hoverBtn svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  transition: opacity 0.1s;
}
.w-hoverBtn .loading.progress-button button {
  width: 70px;
  /* make a circle */
  border-width: 5px;
  border-color: #ddd;
  background-color: transparent;
  color: #fff;
}
.w-hoverBtn .loading.progress-button span {
  transition: opacity 0.15s;
}
.w-hoverBtn .loading.progress-button span,
.w-hoverBtn .success.progress-button span {
  opacity: 0;
}
.w-hoverBtn .loading.progress-button svg.progress-circle path,
.w-hoverBtn .success.progress-button svg.checkmark path,
.w-hoverBtn .error.progress-button svg.cross path {
  opacity: 1;
  transition: stroke-dashoffset 5s;
}
.w-hoverBtn .success.progress-button button {
  transition: all 0.3s;
}
.w-hoverBtn .success.progress-button button {
  border-color: #1ecd97;
  background-color: #1ecd97;
}
.w-hoverBtn .demoItem {
  width: 187px;
  height: 168px;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.3);
}
.w-hoverBtn .demoItem .container {
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(45deg);
}
.w-hoverBtn .demoItem .container .shape {
  width: 10px;
  height: 10px;
  position: absolute;
}
.w-hoverBtn .demoItem .container .shape-1 {
  background-color: #1875e5;
  top: 0;
  left: 0;
  animation: shape1 0.5s ease infinite alternate;
}
.w-hoverBtn .demoItem .container .shape-2 {
  background-color: #c5523f;
  top: 0;
  right: 0;
  animation: shape2 0.5s ease infinite alternate;
}
.w-hoverBtn .demoItem .container .shape-3 {
  background-color: #499255;
  left: 0;
  bottom: 0;
  animation: shape3 0.5s ease infinite alternate;
}
.w-hoverBtn .demoItem .container .shape-4 {
  background-color: #f2b736;
  right: 0;
  bottom: 0;
  animation: shape4 0.5s ease infinite alternate;
}
@keyframes shape1 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(16px, 16px);
  }
}
@keyframes shape2 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-16px, 16px);
  }
}
@keyframes shape3 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(16px, -16px);
  }
}
@keyframes shape4 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-16px, -16px);
  }
}
.w-hoverBtn .demoItem {
  float: left;
}
.w-hoverBtn .demoItem .containers {
  width: 30px;
  height: 30px;
  position: relative;
}
.w-hoverBtn .demoItem .containers .shapes {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -40px;
  background-color: transparent;
  z-index: 2;
  border-radius: 50%;
  animation: move1 7s infinite linear;
}
.w-hoverBtn .demoItem .containers .shapes .shapes-4 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: #f2b736;
}
.w-hoverBtn .demoItem .containers .shapes .shapes-4-top {
  top: 0;
  left: 0;
  clip: rect(0 30px 15px 0);
  transform: rotate(-30deg);
  animation: move2 0.4s infinite ease alternate;
}
.w-hoverBtn .demoItem .containers .shapes .shapes-4-bottom {
  top: 0;
  left: 0;
  clip: rect(15px 30px 30px 0);
  transform: rotate(45deg);
  animation: move3 0.4s infinite ease alternate;
}
.w-hoverBtn .demoItem .containers .shapes .shapes-4-eye {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  top: 5px;
  right: 10px;
}
.w-hoverBtn .demoItem .containers .shapes img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: -12px;
  transform: rotate(-10deg);
}
.w-hoverBtn .demoItem .containers .shapess {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}
.w-hoverBtn .demoItem .containers .shapes-1 {
  background-color: #1875e5;
  left: -5px;
  top: 10px;
  animation: opc1 7s infinite linear;
}
.w-hoverBtn .demoItem .containers .shapes-2 {
  background-color: #c5523f;
  left: 15px;
  top: 10px;
  animation: opc2 7s infinite linear;
}
.w-hoverBtn .demoItem .containers .shapes-3 {
  background-color: #499255;
  top: 10px;
  left: 35px;
  animation: opc3 7s infinite linear;
}
@keyframes move1 {
  0% {
    left: -40px;
    transform: rotateY(0);
  }
  45% {
    left: 50px;
    transform: rotateY(0);
  }
  50% {
    left: 50px;
    transform: rotateY(180deg);
  }
  95% {
    left: -40px;
    transform: rotateY(180deg);
  }
  100% {
    left: -40px;
    transform: rotateY(0);
  }
}
@keyframes move2 {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes move3 {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes opc1 {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opc2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opc3 {
  0% {
    opacity: 1;
  }
  27% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  64% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.w-hoverBtn .demoItem .container3 {
  width: 30px;
  height: 30px;
  position: relative;
}
.w-hoverBtn .demoItem .container3 .shape {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  top: 40%;
}
.w-hoverBtn .demoItem .container3 .shape-1 {
  background-color: #1875e5;
  animation: rotate1 1s ease infinite;
}
.w-hoverBtn .demoItem .container3 .shape-2 {
  background-color: #c5523f;
  left: 10px;
}
.w-hoverBtn .demoItem .container3 .shape-3 {
  background-color: #499255;
  left: 20px;
}
.w-hoverBtn .demoItem .container3 .shape-4 {
  background-color: #f2b736;
  left: 30px;
  animation: rotate2 1s ease infinite;
}
@keyframes rotate1 {
  0% {
    left: -15px;
    top: 5px;
  }
  25% {
    left: 0;
    top: 40%;
  }
  50% {
    left: 0;
    top: 40%;
  }
  75% {
    left: 0;
    top: 40%;
  }
  100% {
    left: -15px;
    top: 5px;
  }
}
@keyframes rotate2 {
  0% {
    left: 30px;
    top: 40%;
  }
  25% {
    left: 30px;
    top: 40%;
  }
  50% {
    left: 45px;
    top: 5px;
  }
  75% {
    left: 30px;
    top: 40%;
  }
  100% {
    left: 30px;
    top: 40%;
  }
}
.w-hoverBtn .loader {
  width: 187px;
  height: 168px;
  background-color: #ed5565;
  margin: 0 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.3);
}
.w-hoverBtn .loader .loader-inner {
  position: relative;
}
.w-hoverBtn .loader .loader-inner div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2px;
  position: absolute;
}
.w-hoverBtn .loader .loader-inner div:nth-of-type(1) {
  left: 0;
  top: 25px;
  animation: loader1 1s 0s infinite linear;
}
.w-hoverBtn .loader .loader-inner div:nth-of-type(2) {
  left: 17px;
  top: 17px;
  animation: loader1 1s 0.12s infinite linear;
}
.w-hoverBtn .loader .loader-inner div:nth-of-type(3) {
  left: 25px;
  top: 0px;
  animation: loader1 1s 0.24s infinite linear;
}
.w-hoverBtn .loader .loader-inner div:nth-of-type(4) {
  left: 17px;
  top: -17px;
  animation: loader1 1s 0.36s infinite linear;
}
.w-hoverBtn .loader .loader-inner div:nth-of-type(5) {
  left: 0;
  top: -25px;
  animation: loader1 1s 0.48s infinite linear;
}
.w-hoverBtn .loader .loader-inner div:nth-of-type(6) {
  left: -17px;
  top: -17px;
  animation: loader1 1s 0.6s infinite linear;
}
.w-hoverBtn .loader .loader-inner div:nth-of-type(7) {
  left: -25px;
  top: 0px;
  animation: loader1 1s 0.72s infinite linear;
}
.w-hoverBtn .loader .loader-inner div:nth-of-type(8) {
  left: -17px;
  top: 17px;
  animation: loader1 1s 0.84s infinite linear;
}
@keyframes loader1 {
  50% {
    opacity: 0.3;
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.w-hoverBtn .loader .loader-inner2 {
  position: relative;
}
.w-hoverBtn .loader .loader-inner2 div {
  position: absolute;
  top: -26px;
  left: -26px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.w-hoverBtn .loader .loader-inner2 div:nth-of-type(1) {
  animation: scale1 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
.w-hoverBtn .loader .loader-inner2 div:nth-of-type(2) {
  animation: scale1 1.25s 0.2s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
.w-hoverBtn .loader .loader-inner2 div:nth-of-type(3) {
  animation: scale1 1.25s 0.4s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
@keyframes scale1 {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=./hoverBtn.css.map */